/* Smaller than 600px */
* {
		margin:0;
		padding:0;
		border:0;
	}
	body {
		background: #000;
	}
	hr {
		border: 1px solid #000;
		clear: both;
	}
	#wrapper {
		margin: 10px auto;
		background: #CCC;
		width: 90%;
	}
	
	#header {
		line-height: 100px;
		text-align: center;
	}
	#header h1 a {
		text-decoration: none;
		color: #555;
		font-size: 20px;
	}
	#menu {
		line-height: 20px;
		margin-left: 40px;
	}
	#menu a {
		display: block;
		float: left;
		border: 1px #000 solid;
		background: #FFF;
		border-radius: 5px;
		padding: 5px;
		margin-left: 20px;
	}
	#content {
		clear: both;
		margin: 10px;
		padding: 20px 0px 0px;
	}
	#content a {
		color: #223;
	}
	#footer {
		text-align: center;
		font-variant: small-caps;
		line-height: 70px;
		clear: both;
	}
	#footer p {
		font-size: 12px;
	}
	
	.thumbs_td {
		width: 100%;
		text-align: center;
/*		float: left; */
	}
	#clearOnIndex {
		clear:both;
		text-align: center;
		line-height: 40px;
		font-size: 12px;
	}
	#clearOnIndex a {
		color: #000;
	}
	label {
		width: 140px;
		display: block;
		float: left;
	}
	textarea {
		border: 1px solid black;
	}
	img {
		max-width: 100%;
	}
	#state {
		float: right;
		margin-top: 20px;
		width: 20%;
		line-height: 20px;
	}
	#state p {
		font-size: 10px;
	}
	.leftFloat {
		float: left;
		margin: 5px 10px;
	}
	p.leftFloat {
		min-width: 300px;
	}
/* Between 600px and 960px */
@media screen and (min-width: 600px) {
	* {
		margin:0;
		padding:0;
		border:0;
	}
	body {
		background: #333;
	}
	#wrapper {
		margin: 30px auto;
		background: #CCC;
		width: 85%;
	}
	
	#header {
		line-height: 80px;
		text-align: center;
	}
	#header h1 a {
		text-decoration: none;
		color: #555;
		margin-left: 150px;
		font-size: 20px;
	}
	#menu a {
		display: block;
		float: left;
		border: 1px #000 solid;
		background: #FFF;
		border-radius: 7px;
		padding: 5px;
		margin-left: 20px;
	}
	#content {
		margin: 10px;
		padding: 20px 0px 0px;
	}
	#footer {
		text-align: center;
		font-variant: small-caps;
		line-height: 60px;
		clear: both;
	}
	#footer p {
		font-size: 12px;
	}
	
	.thumbs_td {
		width: 48%;
		text-align: center;
		float: left;
		margin-left: 1%;
		padding-bottom: 10px;
	}
	#clearOnIndex {
		clear:both;
		text-align: center;
		line-height: 40px;
		font-size: 12px;
	}
	#clearOnIndex a {
		color: #000;
	}
	label {
		width: 140px;
		display: block;
		float: left;
	}
	textarea {
		border: 1px solid black;
	}
	img {
		max-width: 100%;
	}
	#state {
		float: right;
		margin-top: 20px;
		width: 20%;
		line-height: 20px;
	}
	#state p {
		font-size: 12px;
	}

	
}

/* Screens greater than 960px */
@media screen and (min-width: 960px) {
	* {
		margin:0;
		padding:0;
		border:0;
	}
	body {
		background: #555;
	}
	#wrapper {
		margin: 50px auto;
		background: #CCC;
		width: 75%;
	}
	
	#header {
		line-height: 100px;
		text-align: center;
	}
	#header h1 a {
		text-decoration: none;
		color: #555;
		margin-left: 150px;
		font-size: 24px;
	}
	#content {
		margin: 10px;
		padding: 20px 0px 0px;
	}
	#footer {
		text-align: center;
		font-variant: small-caps;
		line-height: 70px;
		clear: both;
	}
	#footer p {
		font-size: 14px;
	}
	
	.thumbs_td {
		width: 49%;
		text-align: center;
		float: left;
		margin-left: 1%;
	}
	#clearOnIndex {
		clear:both;
		text-align: center;
		line-height: 40px;
		font-size: 12px;
	}
	#clearOnIndex a {
		color: #000;
	}
	label {
		width: 140px;
		display: block;
		float: left;
	}
	textarea {
		border: 1px solid black;
	}
	img {
		max-width: 100%;
	}
	#state {
		float: right;
		margin-top: 20px;
		width: 20%;
		line-height: 20px;
	}
	#state p {
		font-size: 100%;
	}

}