* {
	margin:0;
	padding:0;
	border:0;
}

#wrapper {
	margin: 50px auto;
	border: 1px black solid;
	width: 1000px;
}

#header {
	line-height: 100px;
	text-align: center;
}

#menu {
	line-height: 40px;
	margin-left: 40px;
}
#content {
	margin: 10px;
}
#footer {
	text-align: center;
	font-variant: small-caps;
	line-height: 50px;
}
#footer p {
	font-size: 10px;
}
table.thumbs {
	width: 980px;
	border: 3px solid fuchsia;
}

td.thumbs_td {
	width: 394px;
	text-align: center;
}
textarea {
	border: 1px solid black;
}
img.display {
	max-width: 100%;
}